@import "src/variables";

.comments-featured {
  padding: 0 $gridUnit-large * 2 0 $gridUnit-large;
  @media (max-width: $breakpoint-not-desktop) {
    display: none;
  }

  h2 {
    margin: $gridUnit-large * 2 0 $gridUnit 0;
  }

  &-inner {
    display: flex;
    flex-direction: column;
  }
}